<div id="post-comments" class="post-comments post-comments-show u-hide">
        {{!-- close Comments  --}}
    <div class="post-comments-header u-fontSizeSmaller">
        <span class="js-toggle-comments i-close"></span>
    </div>

    <div class="post-comments-wrap">
        <div class="mapache-disqus-loading u-textAlignCenter u-marginTop30">{{t "Loading..."}}</div>
        {{!-- Comments --}}
        <div class="mapache-disqus u-hide">
            <iframe src='{{discussion_room}}?layout=embedded' style="width:100%;height:94%;position:absolute;left:0px;right:0px;bottom:0px" height="100%" width="100%" frameborder="0"></iframe>
        </div>
    </div>
</div>

{{!-- Overlay --}}
<div class="post-comments-overlay u-absolute0 js-toggle-comments"></div>

{{#contentFor "scripts"}}
<script>
    (function(d, s, id) {

        $('.post-comments-show').removeClass('u-hide');

        // Toggle Comments
        $('.js-toggle-comments').on('click', function (e) {
            e.preventDefault();
            $('body').toggleClass('has-comments').removeClass('is-showNavMob')

            setTimeout(function(){
                $('.mapache-disqus-loading').remove();
                $('.mapache-disqus').removeClass('u-hide');
            }, 2000);
        });
    }(document, 'script', 'disqus-js'));
</script>
{{/contentFor}}
