{{#post}}

<div class="post-body u-relative">
    {{!-- Share Sticky post - partials/article/article-share.hbs --}}
    {{> "article/article-share"}}

    <div class="post-body-wrap">
        {{!-- Content of Post --}}
        <div class="post-inner">{{content}}</div>

        {{!-- Cloud Tags - partials/article/article-tags.hbs --}}
        {{> "article/article-tags"}}

        {{!-- Prev and Next Post - partials/article/article-prev-next.hbs --}}
        {{> "article/article-prev-next"}}

        {{!-- Comments partials/article/article-share-mobile.hbs --}}
        {{> "article/article-share-mobile"}}

        <hr class="post-footer-hr">

        {{!-- Button for Toggle Comments --}}
        {{#if discussion_room}}
            <div class="button button--large button--dark-line post-comments-show js-toggle-comments">
                <span class="disqus-comment-count mapache-disqus">{{t "Comments"}}</span>
            </div>
        {{/if}}
    </div>
</div>

{{!-- Comments partials/article/article-comments.hbs --}}
{{> "article/article-comments"}}

{{/post}}
